In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:/users/k_sego/hour.csv", sep=";")

In [5]:
df5 = pd.DataFrame(columns=['hour_display'])

for x in df['hour']:
    x = str(x) + ":00 - " + str(x) + ":59"
    print(x) #for test
    df5.append([{'hour_display': x}], ignore_index=True )

print(df5) #for test
df.append(df5)

0:00 - 0:59
1:00 - 1:59
2:00 - 2:59
3:00 - 3:59
4:00 - 4:59
5:00 - 5:59
6:00 - 6:59
7:00 - 7:59
8:00 - 8:59
9:00 - 9:59
10:00 - 10:59
11:00 - 11:59
12:00 - 12:59
13:00 - 13:59
14:00 - 14:59
15:00 - 15:59
16:00 - 16:59
17:00 - 17:59
18:00 - 18:59
19:00 - 19:59
20:00 - 20:59
21:00 - 21:59
22:00 - 22:59
23:00 - 23:59
Empty DataFrame
Columns: [hour_display]
Index: []

    hour  counted hour_display
0    0.0      0.0          NaN
1    1.0      0.0          NaN
2    2.0      0.0          NaN
3    3.0      0.0          NaN
4    4.0      0.0          NaN
5    5.0      0.0          NaN
6    6.0      0.0          NaN
7    7.0      0.0          NaN
8    8.0      0.0          NaN
9    9.0      0.0          NaN
10  10.0    792.0          NaN
11  11.0    792.0          NaN
12  12.0      0.0          NaN
13  13.0      0.0          NaN
14  14.0    594.0          NaN
15  15.0    198.0          NaN
16  16.0    198.0          NaN
17  17.0      0.0          NaN
18  18.0      0.0          NaN
19  19.0      0.0          NaN
20  20.0      0.0          NaN
21  21.0      0.0          NaN
22  22.0      0.0          NaN
23  23.0      0.0          NaN

In [6]:
def hour_disply(x):
    return str(x) + ":00 - " + str(x) + ":59"

df['hour_display'] = df['hour'].apply(lambda x: hour_disply(x))

In [7]:
df

    hour  counted   hour_display
0      0      0.0    0:00 - 0:59
1      1      0.0    1:00 - 1:59
2      2      0.0    2:00 - 2:59
3      3      0.0    3:00 - 3:59
4      4      0.0    4:00 - 4:59
5      5      0.0    5:00 - 5:59
6      6      0.0    6:00 - 6:59
7      7      0.0    7:00 - 7:59
8      8      0.0    8:00 - 8:59
9      9      0.0    9:00 - 9:59
10    10    792.0  10:00 - 10:59
11    11    792.0  11:00 - 11:59
12    12      0.0  12:00 - 12:59
13    13      0.0  13:00 - 13:59
14    14    594.0  14:00 - 14:59
15    15    198.0  15:00 - 15:59
16    16    198.0  16:00 - 16:59
17    17      0.0  17:00 - 17:59
18    18      0.0  18:00 - 18:59
19    19      0.0  19:00 - 19:59
20    20      0.0  20:00 - 20:59
21    21      0.0  21:00 - 21:59
22    22      0.0  22:00 - 22:59
23    23      0.0  23:00 - 23:59